<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syncx.app.Klear">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity android:name="com.syncx.app.Klear.DonateActivity"></activity>
        <activity android:name="com.syncx.app.Klear.BlogActivity" />
        <activity android:name="com.syncx.app.Klear.ProceedActivity" />
        <activity android:name="com.syncx.app.Klear.PickupActivity" />
        <activity android:name="com.syncx.app.Klear.MenuActivity" />
        <activity android:name="com.syncx.app.Klear.LoginActivity" />
        <activity android:name="com.syncx.app.Klear.CameraActivity" />
        <activity
            android:name="com.syncx.app.Klear.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>